<header>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to "Wikinimous", articles_path, class: "logo" %>
        <%= link_to "New Article", new_article_path, class: "btn btn-primary" %>
      </div>
    </div>
</header>
<main>
  <div class="container">
    <h1 class="text-center mb-4 mt-4" style="font-size: 2.5rem;">All Articles</h1>
    <ul class="list-group">
      <%@articles.each do |article| %>
        <li class="list-group-item article-item">
          <%= link_to article_path(article), class: 'text-decoration-none' do %>
            <h5><%= article.title %></h5>
            <p><%= truncate(article.content, length: 50) %></p>
          <% end %>
      </li>
      <%end%>
    </ul>
  </div>
</main>
